{% extends "base.html" %}
{% block content %}
<div class="container">
    <form id="login-form" role="form">
    <div class="col-md-4 col-md-offset-4">
        <div class="well">
            <label for="email_address">Email Address</label>
            <input type="email" class="form-control" id="email_address" placeholder="abc@123.com" required>
            </br>
            <label for="password">Password</label>
            <input type="password" pattern=".{8,64}" required title="8 to 64 characters" class="form-control" id="password" placeholder="xyz" required>
        </div>
        <div class="well">
            <button type="login-button" class="btn btn-primary btn-block">Login</button>
        </div>
    </div>
    </form>
</div>
{% endblock %}
{% block js_footer %}
{{ super() }}
<script>
    $('#login-form').on('submit', function(e){
        e.preventDefault();
        var data = {
            'email_address': $('#email_address').val(),
            'password': $('#password').val()
        };
        console.log(data);
        var url = 'http://10.211.55.11:8000/v1/auth/login';
        $.ajax({
          type: 'POST',
          crossDomain: true,
          url: url,
          data: JSON.stringify(data),
          contentType: 'application/json',
          success: function (response, status, xhr) {
            console.log("Success!!");
            console.log(this.url);
            console.log(response.data);
            console.log(xhr.status);
          },
          error: function (xhr, desc, err) {
            console.log(xhr.status);
            //console.log(err);
            //console.log(xhr.responseText);
            //alert(xhr.responseText);
          },
          complete: function () {
            console.log('complete');
          }
        });
    });
</script>
{% endblock %}
