{% extends "base.html" %}
{% block content %}
<style>
.form .form-control { margin-bottom: 10px; }
</style>
<div class="container">
  <div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <h3>Whitebox API</h3>
            <p>This prgramatic interface provides a mechanism to retrive an application's client token and the ability to submit vehicle event data.</p>
        </div>
        <div class="col-md-6">
            <form class="form" id="signup-form" role="form">
                <legend><h3>Sign Up</h3></legend>
                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        <input type="text" id="first_name" value="{{ first_name if first_name != None }}" class="form-control input-lg" placeholder="First Name" required />
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <input type="text" id="last_name" value="{{ last_name if last_name != None }}" class="form-control input-lg" placeholder="Last Name" required />
                    </div>
                </div>
                <input type="email" id="email_address" value="{{ email_address if email_address != None }}" class="form-control input-lg" placeholder="Email Address" required />
                <input type="email" id="confirm_email_address" value="{{ email_address if email_address != None }}" class="form-control input-lg" placeholder="Confirm Email Address" required />
                <input type="password" id="password" value="{{ password if password != None }}" class="form-control input-lg" pattern=".{8,64}" title="8 to 64 characters" placeholder="Password" required />
                <span class="help-block">By clicking Create my account, you agree to our Terms and that you have read our Data Use Policy, including our Cookie Use.</span>
                <button type="signup-button" class="btn btn-lg btn-primary btn-block">Sign up</button>
            </form>
         </div>
      </div>
  </div>
</div>
{% endblock %}
{% block js_footer %}
{{ super() }}
<script type="text/javascript">
    var api_url = '{{ g.api_url }}';
</script>
<script>
    $('#signup-form').on('submit', function(e){
        e.preventDefault();
        var data = {
            'first_name': $('#first_name').val(),
            'last_name': $('#last_name').val(),
            'email_address': $('#email_address').val(),
            'confirm_email_address': $('#confirm_email_address').val(),
            'password': $('#password').val()
        };
        console.log(data);
        if (data.email_address != data.confirm_email_address) {
            alert('Email addresses do not match!');
            return false;
        };
        var url = api_url + '/v1/users/new';
        $.ajax({
          type: 'POST',
          crossDomain: true,
          url: url,
          data: JSON.stringify(data),
          contentType: 'application/json',
          success: function (response, status, xhr) {
            console.log("Success!!");
            console.log(this.url);
            console.log(response.data);
            console.log(xhr.status);
            if (xhr.status === 200 && response.url) {
                // response.redirect contains the string URL to redirect to
                window.location.href = response.url;
            } else {
                // response.form contains the HTML for the replacement form
                console.log(response.message);
                alert(response.message);
            }
          },
          error: function (xhr, desc, err) {
            console.log(xhr);
            alert(xhr.responseJSON.message);
          },
          complete: function () {
            console.log('complete');
          }
        });
    });
</script>
{% endblock %}
